@media (max-width: 1280px)
  .outer
    padding-top: 70px
    padding-bottom: 70px
  .title
    margin-bottom: 40px
  .text-m
    font-size: 16px
  .text-s
    font-size: 13px
  .sol-txt
    font-size: 20px
  .offer
    &__title
      font-size: 40px
  .solution
    &__container
      width: 1080px
@media (max-width: 1180px)
  .offer
    &__video
      width: 300px
  .clients
    &__client
      & span
        width: 70%
  .problems
    &__problem
      width: 45%
      &--block
        width: 40%
  .line
    margin-left: 20px
    margin-right: 20px
  .solution
    &__container
      width: 900px
    &__block
      width: 21%
      &:first-child
        width: 30%
      &--content
        width: 90%
      & h4
        font-size: 35px
@media (max-width: 921px)
  .title
    font-size: 30px
  .sol-txt
    font-size: 17px
  .text-m
    font-size: 15px
  .text-s
    font-size: 12px
  .header
    &__btn
      width: 160px
  .offer
    &__title
      width: 80%
    & p
      width: 60%
    &__img
      width: 100%
      height: 100%
      background-position: right
    &__video
      margin-top: 15px
      position: static
      width: 280px
      height: 94px
      &--img
        width: 54px
        height: 59px
    &__form
      width: 100%
  .clients
    &__client
      &:last-child
        display: none
  .problems
    &__wrapper
      flex-direction: column
      align-items: center
    &__problem
      padding-top: 30px
      &--block
        width: 70%
  .line
    margin-left: 30px
    margin-right: 30px
  .line-mob
    display: none
  .solution
    &__block
      width: 48%
      &:first-child
        width: 48%
      &:last-child
        margin-top: 20px
      &--wrapp
        flex-wrap: wrap
        width: 70%
        margin: auto
  .solution__container
    width: 90%

@media (max-width: 600px)
  .clients
    &__wrapper
      justify-content: center
      flex-wrap: wrap
    &__client
      width: 200px
      // margin-top: 15px
      &:last-child
        display: flex
  .c-m
    margin-top: 15px
  .solution
    &__block
      &--wrapp
        width: 380px
@media (max-width: 481px)
