.problem
    position: relative
    &__container
        width: 80%
        margin: auto
    &__wrapper
        display: flex
        justify-content: center
        // justify-content: space-between
    &__problem
        width: 220px
        padding-top: 20px
        &--block
            display: flex

.problem-img
    background-image: url("../img/problem/problem.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    width: 100%
    height: 600px
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: -10
.line
    margin-left: 25px
    margin-right: 25px
    background-image: url("../img/problem/line.svg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    width: 1px
    height: 200px
